<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Detail Post</h1>
    <h3> Title:{{ object.title}}</h3>
    <p> Author: {{ object.author}}</p>
    <p> Content: {{ object.body}}</p>
       <a href="{% url 'edit'  object.pk %}">Edit </a><li>
        <a href="{% url 'delete'  object.pk %}">Delete </a><li>

       <a href="{% url 'home' %}">Back To Home </a><li>
</body>
</html>